{% extends 'base.html.twig' %}
 {% block title 'Hello Paris ! ' %}
 {% block body %}
   <div class="flex flex-row justify-center items-center m-20">
      <img src="{{asset('/Img/drap_paris.png')}}" alt="drapeau" width="150" height="100" class="m-4">
      <img src="{{asset('/Img/drap_idf.png')}}" alt="drapeau" width="150" height="100">
   </div>
   <h1 class=" flex justify-center text-5xl font-semibold text-indigo-800">Hello from Paris</h1>
    {# {{ 'now' | localizeddate('full', 'none') }} #}

    {# <p>Nous sommes le {{'now'|date('l d F Y')}}.</p> #}
   <p class=" flex justify-center text-gray-500 "> Il est actuellement {{ 'now'|date('H:i')}}.</p>
    {# {{ 'de'|language_name('fr') }} #}
 {% endblock %}